*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(20, 20, 20);
  margin-inline: 50px;
  font-weight: 500;
}

.logo {
  height: 40px;
}

.avatar {
  height: 30px;
}

nav li a,
.text__nav {
  font-size: 10pt !important;
}

.dropdown-item:hover {
  background-color: red !important;
}

.menoIntenso {
  color: rgb(172, 172, 172) !important;
}
.dropdown {
  background-color: black;
  color: white;
}
.carousel-control-next {
  width: 5% !important;
  z-index: 3;
}
.carousel-control-prev {
  width: 5% !important;
  z-index: 3;
}
.posterMovie,
.card {
  transition: transform 0.5s;
}

.posterMovie:hover {
  transform: scale(1.3);
  z-index: 2;
}
footer {
  margin-inline: 20%;
  margin-top: 8%;
  color: rgb(129, 129, 129);
  font-weight: 600;
  font-size: small;
}
option:hover {
  background-color: black !important;
}
.service {
  border-color: rgb(129, 129, 129) !important;
}

.netflixInc {
  font-size: 9pt;
}
/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  body {
    margin-inline: 40px;
  }
}
